<div class="alert alert-info">
  <h4>Growth-tastic is a <strong>tutorial</strong>
    <small>for developers integrating apps with health data via BlueButton+</small>
  </h4>
  <ul id="steps">
    <li>
    <a href="http://growth-fixture.bluebuttonpl.us">Step 0: Fixture</a>
    (data hard-coded in the app)
    </li>
    <li>
    <a href="http://growth-push.bluebuttonpl.us">Step 1: Push</a>
    (data retrieved via BB+ Push: Direct messaging)
    </li>
    <li>
    <strong>Step 2: Pull</strong>
    (data retrieved via BB+ Pull: OAuth2 + REST)
    </li>
  </ul>

  <p>
  For more information see the 
  <a href="https://github.com/jmandel/bb-tutorial-growthtastic/wiki">
    <strong>full tutorial write-up</strong>
  </a>
  </p>
</div>


