<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Growth-tastic!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/assets/stylesheet.css" rel="stylesheet">

    <script src="/static/growth_charts/lib/jquery.js"></script>
    <script src="/static/growth_charts/bb/bluebutton-pull-client.js"></script>
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <select id="choose-step" style=" margin-bottom: 0px; width: 100%; ">
          <option value="http://growth-fixture.bluebuttonpl.us">Fixture: Data hard-coded in the app</option>
          <option value="http://growth.bluebuttonpl.us">BB+ Push: Data retrieved via Direct messaging</option>
          <option value="http://growth-pull.bluebuttonpl.us">BB+ Pull: Data retrieved via OAuth2 + REST</option>
        </select>

        <div class="pull-right sign-in">
          <% if (user){ %>
          <a class="btn" href="/signout">Sign out @<%=user%></a>
          <% } else { %>
          <a href="/auth/twitter">
            <img src="/static/assets/sign-in-with-twitter-gray.png">
          </a>
          <% }%>
        </div>

        <div class="jumbotron">


          <h1>Growth-tastic!</h1>
          <p class="lead">BlueButton+ Tutorial in 3 Steps:
          <a href="https://github.com/jmandel/bb-tutorial-growthtastic/wiki">
            see write-up.</a>
          </p>
        </div>

        <hr>

      </div>

      <script>
        var o = window.location.origin;
        if (o.match(/growth-pull/)){
          $("option[value='http://growth-pull.bluebuttonpl.us']").attr("selected", true);
          } else if (o.match(/growth-fixture/)){
          $("option[value='http://growth-fixture.bluebuttonpl.us']").attr("selected", true);
          } else {
          $("option[value='http://growth.bluebuttonpl.us']").attr("selected", true);
        }
        $("#choose-step").change(function(c){
          window.location = $("#choose-step").val();
        });
      </script>

      <div class="row-fluid marketing">
        <div class="span12">

        <form>
          <h4>Connect Growth-tastic to your your health record</h4>
          <ul type='text' id='provider-select'></ul><br><br>
          (<strong>Good Health Clinic</strong> demo account: username <code>demo</code>, password <code>demo</code>.)
        </form>
      <script>

        var client = {
          "client_name": "Growth-tastic",
          "client_uri": "http://growth.bluebuttonpl.us",
          "logo_uri": "http://growth.bluebuttonpl.us/static/growth_charts/img/icon.png",
          "contacts": [ "info@growth.bluebuttonpl.us" ],
          "redirect_uris": [ "http://growth-pull.bluebuttonpl.us/static/growth_charts/" ],
          "response_types": ["token"],
          "grant_types": ["implicit"],
          "token_endpoint_auth_method": "none",
          "scope":  "summary"
        };

        var registries = ["https://bbplus-static-registry.aws.af.cm"];

        BBClient.providers(registries, function(providers){
          $.each(providers, function(i,v){
            $('#provider-select').append(
            $("<li><a href='"+v.oauth2.authorize_uri+"'> "+v.name+"</a>" + 
            "<em> "+v.description+"</em></li>").click(choose(v)));
          });
        });

        function choose(p){
          return function(event){
            event.preventDefault();
            BBClient.authorize({
              client: client,
              provider:p
            });
          };
        };

      </script>

      <hr>

      <div class="footer">
        <p>&copy; <a href="http://smartplatforms.org">SMART Platforms</a>,
        Harvard Medical School / Boston Children's Hospital 2013</p>
      </div>

    </div> <!-- /container -->
  </body>
</html>
