<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Growth-tastic!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/assets/stylesheet.css" rel="stylesheet">

    <script src="/static/growth_charts/lib/jquery.js"></script>

  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <select id="choose-step" style=" margin-bottom: 0px; width: 100%; ">
          <option value="http://growth-fixture.bluebuttonpl.us">Fixture: Data hard-coded in the app</option>
          <option value="http://growth.bluebuttonpl.us">BB+ Push: Data retrieved via Direct messaging</option>
          <option value="http://growth-pull.bluebuttonpl.us">BB+ Pull: Data retrieved via OAuth2 + REST</option>
        </select>

        <div class="pull-right sign-in">
          <% if (user){ %>
          <a class="btn" href="/signout">Sign out @<%=user%></a>
          <% } else { %>
          <a href="/auth/twitter">
            <img src="/static/assets/sign-in-with-twitter-gray.png">
          </a>
          <% }%>
        </div>

        <div class="jumbotron">


          <h1>Growth-tastic!</h1>
          <p class="lead">BlueButton+ Tutorial in 3 Steps:
          <a href="https://github.com/jmandel/bb-tutorial-growthtastic/wiki">
            see write-up.</a>
          </p>
        </div>

        <hr>

      </div>

      <script>
        var o = window.location.origin;
        if (o.match(/growth-pull/)){
          $("option[value='http://growth-pull.bluebuttonpl.us']").attr("selected", true);
          } else if (o.match(/growth-fixture/)){
          $("option[value='http://growth-fixture.bluebuttonpl.us']").attr("selected", true);
          } else {
          $("option[value='http://growth.bluebuttonpl.us']").attr("selected", true);
        }
        $("#choose-step").change(function(c){
          window.location = $("#choose-step").val();
        });
      </script>

      <div class="row-fluid marketing">
        <div class="span12">
          <h4>1. Find your Blue Button!</h4>
          <p>Sign in to your healthcare provider's portal and find the Blue Button</p>

          <h4>2. Connect your data to Growth-tastic</h4>
          <p>Have your provider automatically send your BlueButton data to:<code>
            <%= user? user : "your-twitter-handle"%>@direct.growth.bluebuttonpl.us
          </code></p>

          <h4>3. Feast your eyes on Growth-tastic</h4>
          <% if (user) { %>
          <a target="_new" href="/static/growth_charts/index.html" class="btn btn-info">Chart-ho!</a>
          <% } else { %>
          <a target="_new" class="btn btn-info btn-disabled" disabled>Please sign in above...</a>
          <% } %>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; <a href="http://smartplatforms.org">SMART Platforms</a>,
        Harvard Medical School / Boston Children's Hospital 2013</p>
      </div>

    </div> <!-- /container -->
  </body>
</html>
