body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.lead {
  margin-left: 4px;
  margin-top: -15px;
}

.sign-in {
  margin-top: 16px;
}

#steps {
  margin-top: 15px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {

}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 0px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.masthead h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.masthead select {
  font-weight: bold;
}

